mixin burger
    button.burger.burger_changed
        .burger__bar-container
            .burger__bar
        .burger__bar-container
            .burger__bar
        .burger__bar-container
            .burger__bar