.main {
    background: lightskyblue;
    flex-grow: 1;
    min-height: calc(100vh - 70px);
    &__checkboxes {
        display: flex;
        flex-wrap: wrap;
        margin: 100px 0 0 50px;
    }
    &__checkbox-box-container {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__checkbox-box {
        width: 150px;
        height: 150px;
        border: 5px solid cornflowerblue;
        background: lightcyan;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        flex-grow: 1;
        font-weight: 700;
        word-break: break-all;
        min-width: 28px;
    }
    &_hidden {
        display: none;
    }
}
@media(max-width: 270px) {
    .main {
        display: flex;
        justify-content: center;
        &__checkboxes {
            margin: 0;
            margin-top: 100px;
            width: 68%;
        }
        &__checkbox-box-container {
            width: 100%;
        }
        &__checkbox-box {
            width: 100%;
            height: 150px;
            
        }
    }
}