.sidebar {
    width: 200px;
    display: flex;
    justify-content: center;
    background: lightskyblue;
    &_hidden {
        display: none;
    }
}
@media(max-width: 1200px) {
    .sidebar {
        display: none;
    }
}