.sidebar {
    width: 200px;
    display: flex;
    justify-content: center;
    background: rgb(188, 245, 188);
    min-height: calc(100vh - 70px);
    &_hidden {
        display: none;
    }
}
@media(max-width: 1200px) {
    .sidebar {
        display: none;
    }
}